*, *:before, *:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 16px;
    font-family: "Open Sans", serif;
    background: #e6e6e6;
}
header .container{
    width: 100%;
    background: #000000;
}
header .container nav{
    width: 90%;
    height: 70px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    color: #eef0f2;
    font-size: 35px;
    font-weight: 600;
    text-decoration: none;
    align-self: center;
    text-transform: uppercase;
}
nav .logo span{
    color: #eec643;
}
nav ul{
    background: #000000;
}
nav ul li{
    display: inline-block;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 14px;
    padding: 20px 25px;
    position: relative;
}
nav ul li a{
    color: #eef0f2;
    text-decoration: none;
}
nav ul li ul{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100%;
    right: 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s ease-in-out;
}
nav ul li:hover > ul{
    visibility: visible;
    opacity: 1;
}
nav ul li ul li{
    display: block;
}
nav ul li ul li:hover{
    background: #2b2c28;
}
nav ul li ul li:hover li{
    cursor: pointer;
}
nav ul li ul li:hover > a{
    color: #eec643;
}
nav input[type="checkbox"]{
    display: none;
}
nav label{
    color: #eef0f2;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
    display: none;
}
/* Media Querie */
@media screen and (max-width:800px){
    nav label{
        display: flex;
    }
    nav #menu{
        position: absolute;
        top: 70px;
        right: -100%;
        width: 50%;
        transition: all 0.5s ease-in-out;
    }
    nav #menu li{
        display: block;
        text-align: center;
    }
    input:checked ~ #menu{
        right: 0;
    }
    nav ul li ul{
        position: relative;
        right: 0 !important;
        visibility: visible;
        opacity: 1;
        display: none;
    }
    .show{
        display: block;
    }
}